:root {
    --color-primary: #9E87CE;
    --color-primary-rgb: 158, 135, 206;
    --color-light: #F2F2F2;
    --color-light-rgb: 242, 242, 242;
    --color-dark: #333333;
    --color-dark-rgb: 51, 51, 51;

    --color-purple: #50105C;
    --color-purple-rgb: 80, 16, 92;
    --color-maroon: #8C2648;
    --color-maroon-rgb: 140, 38, 72;
    --color-pink: #FC4A6C;
    --color-pink-rgb: 252, 74, 108;
    --color-corn: #CC9308;
    --color-corn-rgb: 204, 147, 8;
    --color-lemon: #F4C237;
    --color-lemon-rgb: 244, 194, 55;
}

@font-face {
    font-family: "Droid Regular";
    src: url('/fonts/droid-sans/DroidSans.ttf');
}

@font-face {
    font-family: "Droid Bold";
    src: url('/fonts/droid-sans/DroidSans-Bold.ttf');
}

@font-face {
    font-family: "Myfrida Regular";
    src: url('/fonts/myfrida/Myfrida Regular.otf');
}

@font-face {
    font-family: "Aller Regular";
    src: url('/fonts/aller/Aller_Std_Rg.ttf');
}

@font-face {
    font-family: "Aller Bold";
    src: url('/fonts/aller/Aller_Std_Bd.ttf');
}

@font-face {
    font-family: "Aller Light";
    src: url('/fonts/aller/Aller_Std_Lt.ttf');
}

@font-face {
    font-family: "Lato Thin";
    src: url('/fonts/lato/Lato-Thin.ttf');
}

.bg-primary {
    background: var(--color-primary) !important;
}

.bg-light {
    background: var(--color-light) !important;
}

.bg-dark {
    background: var(--color-dark) !important;
}

.bg-purple {
    background: var(--color-purple) !important;
}

.bg-maroon {
    background: var(--color-maroon) !important;
}

.bg-white {
    background: white !important;
}

.bg-transparent {
    background: rgba(255, 255, 255, 0) !important;
}

.primary {
    color: var(--color-primary) !important;
}

.light {
    color: var(--color-light) !important;
}

.dark {
    color: var(--color-dark) !important;
}

.white {
    color: white !important;
}

.transparent {
    color: rgba(255, 255, 255, 0) !important;
}

.row, .cell {
    margin-left: 0px;
    margin-right: 0px;
}

.border {
    /*border: 0.5px solid var(--color-default) !important;*/
    box-shadow: 0 0 9px #999;
}

.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
    box-shadow: 0 0 5px #333;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

@media screen and (max-width: 576px) {
    .container {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}
