:root {
    --color-primary: #9E87CE;
    --color-primary-rgb: 158, 135, 206;
    --color-light: #F2F2F2;
    --color-light-rgb: 242, 242, 242;
    --color-dark: #333333;
    --color-dark-rgb: 51, 51, 51;

    --color-purple: #50105C;
    --color-purple-rgb: 80, 16, 92;
    --color-maroon: #8C2648;
    --color-maroon-rgb: 140, 38, 72;
    --color-pink: #FC4A6C;
    --color-pink-rgb: 252, 74, 108;
    --color-corn: #CC9308;
    --color-corn-rgb: 204, 147, 8;
    --color-lemon: #F4C237;
    --color-lemon-rgb: 244, 194, 55;
}

@font-face {
    font-family: "Droid Regular";
    src: url('/fonts/droid-sans/DroidSans.ttf');
}

@font-face {
    font-family: "Droid Bold";
    src: url('/fonts/droid-sans/DroidSans-Bold.ttf');
}

@font-face {
    font-family: "Myfrida Regular";
    src: url('/fonts/myfrida/Myfrida Regular.otf');
}

@font-face {
    font-family: "Aller Regular";
    src: url('/fonts/aller/Aller_Std_Rg.ttf');
}

@font-face {
    font-family: "Aller Bold";
    src: url('/fonts/aller/Aller_Std_Bd.ttf');
}

@font-face {
    font-family: "Aller Light";
    src: url('/fonts/aller/Aller_Std_Lt.ttf');
}

@font-face {
    font-family: "Lato Thin";
    src: url('/fonts/lato/Lato-Thin.ttf');
}

.bg-primary {
    background: var(--color-primary) !important;
}

.bg-light {
    background: var(--color-light) !important;
}

.bg-dark {
    background: var(--color-dark) !important;
}

.bg-purple {
    background: var(--color-purple) !important;
}

.bg-maroon {
    background: var(--color-maroon) !important;
}

.bg-corn {
    background: var(--color-corn) !important;
}

.bg-white {
    background: white !important;
}

.bg-transparent {
    background: rgba(255, 255, 255, 0) !important;
}

.primary {
    color: var(--color-primary) !important;
}

.light {
    color: var(--color-light) !important;
}

.dark {
    color: var(--color-dark) !important;
}

.purple {
    color: var(--color-purple) !important;
}

.maroon {
    color: var(--color-maroon) !important;
}

.white {
    color: white !important;
}

.transparent {
    color: rgba(255, 255, 255, 0) !important;
}

.row, .cell {
    margin-left: 0px;
    margin-right: 0px;
}

.border {
    /*border: 0.5px solid var(--color-default) !important;*/
    box-shadow: 0 0 9px #999;
}

.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
    box-shadow: 0 0 5px #333;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

@media screen and (max-width: 576px) {
    .container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email],
 [type=month], [type=number], [type=password], [type=search], [type=tel],
 [type=text], [type=time], [type=url], [type=week], textarea {
    height: 2.6rem;
}

label {
    font-size: 1.1rem;
    line-height: 2.6rem;
}

.form-round input, .form-round button {
    border-radius: 10px;
}

.form-round .round-start {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-round .round-middle {
    border-radius: 0px;
}

.form-round .round-end {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-button:hover {
    background-color: rgba(var(--color-corn-rgb), 0.6) !important;
}

.dropdown-pane {
    padding: 0px;
}

.dropdown-pane ul {
    margin: 0px;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-pane ul li {
    list-style: none;
    padding: 10px;
}

.dropdown-pane ul li:hover {
    background-color: rgba(var(--color-dark-rgb), 0.1);
}
