.banner {
    height: 100vh;
}

#parallax-top {
    height: 100vh;
    background-image: url('../img/banner.jpg');
}

#parallax-top .title {
    font-size: 6rem;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
}

#parallax-top .subtitle {
    font-size: 2rem;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
}

#parallax-top .title, #parallax-top .subtitle {
    font-family: "Lato Thin";

}

.chooser {
    padding: 80px;
}

@media screen and (max-width: 576px) {
    .chooser {
        padding: 50px;
    }
}

.chooser:hover {
    background-color: rgba(var(--color-light-rgb), 0.1);
}

.chooser > div {
    height: 100%;
}
