#parallax-top {
    height: 100vh;
    background-image: url('../img/banner.jpg');
}

#parallax-top .title {
    font-size: 6rem;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
}

#parallax-top .subtitle {
    font-size: 2rem;

    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
}

#parallax-top .title, #parallax-top .subtitle {
    font-family: "Lato Thin";
}

#topic-chooser h3, #topic-chooser h5, #pet-list h3, #pet-list h5 {
    font-family: "Myfrida Regular";
}

.chooser {
    padding: 8%;
}

/* @media screen and (max-width: 576px) {
    .chooser {
        padding: 50px;
    }
} */

.chooser:hover {
    background-color: rgba(var(--color-light-rgb), 0.1);
}

.chooser > div {
    height: 100%;
}

#pet-list .panel {
    height: 300px;
}

#pet-list .pet {
    visibility: hidden;
    /* display: none; */
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
}
