body {
    background-color: var(--color-maroon);
    color: white;
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, p {
    font-family: "Aller Regular";
}

.overlay-container {
    display: block;
    position: relative;
    overflow: hidden;
}

.overlay-container img {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay-content {
    height: 100%;
    width: 100%;
}

.parallax-container {
    display: block;
    position: relative;
    overflow: hidden;
    /* background-attachment: fixed; */
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-content {
    height: 100%;
    width: 100%;
}

.title {
    font-family: "Aller Bold";
    font-size: 4rem;
}

.subtitle {
    font-family: "Aller Regular";
    font-size: 1.6rem;
}
